# Read about configuration, here:
# https://craftcms.com/docs/5.x/configure.html

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=CraftCMS--ccdac027-c2a5-4c68-ae62-607eb05cfcbc
CRAFT_SECURITY_KEY=qI-lbc8NfaRoTsxzdQ5sUwCZWuO5eWsa

# DB connection
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_PORT="3306"

# General settings
CRAFT_DEV_MODE=true
CRAFT_WEB_ROOT="/var/www/html/web"
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true
FALLBACK_IMAGE=/static/images/placeholder.png

# Mail settings
MAILPIT_SMTP_HOSTNAME="127.0.0.1"
MAILPIT_SMTP_PORT="1025"

# Site settings
PRIMARY_SITE_URL="https://query-api-craft-starter.ddev.site"
WEBSITE_URL="http://localhost:3000"
WEBSITE_URL_ES="http://localhost:3000/es"
WEBSITE_URL_DE="http://localhost:3000/de"
